
h2 {
  display: inline;

}

.top {
  text-align: center;
}

#box1{
height: 200px;
width: 300px;
border-style: solid;
border-color: black;
border-left: 10%;
text-align: center;

}

#box2{
  height: 200px;
  width: 300px;
  border-style: solid;
  border-color: black;
  text-align: center;

}

#box3{
  height: 200px;
  width: 300px;
  border-style: solid;
  border-color: black;
  text-align: center;

}

.box {
  display: inline-block;
  margin: 75px;
}
